<div class="container">
  <div class="row">
    <div class="col-4 text-center  custom-btn" (click)="updatePage()">
      <i class="fas fa-user-circle fa-3x"></i>
      <h3>Update Your profile</h3>
    </div>
    <div class="col-4"></div>
    <div class="col-4 text-center custom-btn">
      <div class="custom-btn" (click)=orders()>
        <i class="fas fa-shopping-cart fa-3x"></i>
        <h3>Order history</h3>
      </div>
    </div>
  </div>
  <!-- update profile -->
  <section *ngIf="openCloseUpdate === true">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-12 text-center">
            <td class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-dark" (click)="updateDetails()">Update Details</button>
              <button type="button" class="btn btn-outline-dark" (click)="updatePassword()">New Password</button>
            </td>
          </div>
        </div>
        <form>
          <div *ngIf="details">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="{{userDetails.username}}" [(ngModel)]="userDetails.username">
            </div>
            <div class="form-group ">
              <label for="email ">Email address</label>
              <input type="email " class="form-control" id="email" name="email" placeholder="{{userDetails.email}}" [(ngModel)]="userDetails.email">
            </div>
          </div>
          <div class="row" *ngIf="updated">
            <div class="col-12">
              <br>
              <div class="alert alert-success text-center" role="alert">
                Updated!
              </div>
            </div>
          </div>
          <div *ngIf="pass">
            <div class="form-group">
              <label for="passOld">Password Old</label>
              <input type="password" class="form-control" name="oldPass" id="passOld" placeholder="passOld" [(ngModel)]="userPass.oldPassword">
            </div>
            <div class="form-group">
              <label for="passNew">Password New</label>
              <input type="password" class="form-control" id="passNew" name="newPass" placeholder="passNew" [(ngModel)]="userPass.newPassword">
            </div>
            <div class="form-group">
              <label for="passNewConf">Password New</label>
              <input type="password" class="form-control" id="passNewConf" name="newPassConf" placeholder="passNewConf" [(ngModel)]="passwordConf">
            </div>
          </div>
          <div class="row" *ngIf="updatedPass">
            <div class="col-12">
              <br>
              <div class="alert alert-success text-center" role="alert">
                Updated!
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-outline-primary" *ngIf="details" (click)="update()">Submit</button>
          <button type="submit" class="btn btn-primary" *ngIf="pass" (click)="changePassword()">Submit</button>
        </form>
      </div>
      <div class="col-6 "></div>
    </div>
  </section>
  <!-- order history -->
  <section *ngIf="openClose === true ">
    <section *ngIf="pastOrder.length===0 ">
      <div class="row ">
        <div class="col-4 "></div>
        <div class="col-4 "></div>
        <div class="col-4 ">
          <h4>You have no orders yet!</h4>
        </div>
      </div>
    </section>

    <section *ngIf="pastOrder.length> 0">
      <div class="row" *ngFor="let x of pastOrder; let i = index">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4">
          <h4>Order No.: {{i+1}}.</h4>
          <p>{{x.createdAt | date:'fullDate'}}</p>
          <hr>
          <div *ngFor="let y of x.products">
            <ul>
              <li>Product: {{y.product.productName}}</li>
              <li>Price: {{y.product.productPrice}} Ft.</li>
              <li>Quantity: {{y.quantity}}</li>
            </ul>
          </div>
          <h5>Total Price:</h5>
          <p>
            <em>{{pastOrderPrices[i]}} Ft</em>
          </p>
          <hr>
        </div>

      </div>
    </section>
  </section>
</div>
