<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../assets/img/1_1.jpg" alt="drinks">
      <div class="carousel-caption d-none d-md-block">
        <h1>Koktélok!</h1>
        <p>Az alkohol tartalmú italok világa érdekes világ. Arra, hogy ezek az italfajták mennyire szorosan kötődnek az emberi
          civilizációhoz, nem nagyon kell más bizonyíték, mint az, hogy a földön talán egyetlen olyan nemzet, népcsoport,
          vagy akár az őserdőben elszigetelten élő törzs sincs, ahol ne készítettek volna már a legrégebbi időkben is valamilyen
          erjesztett vagy főzött szeszesital-fajtát.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/2_1.jpg" alt="drinks">
      <div class="carousel-caption d-none d-md-block">
        <h1>Sörök!</h1>
        <p>Bár sört szinte az egész világon készítenek, vannak nemzetek, amelyek valahogy nagyon kötődnek ehhez az italfajtához,
          és akik ezt az italt más módon is készítik, mint általában megszokhattuk. Az egyik ilyen nemzet a belga, ahol a
          kolostorokban főzött sörnek bizony igen komoly hagyománya van.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../../assets/img/3_1.jpg" alt="drinks">
      <div class="carousel-caption d-none d-md-block">
        <h1>Röviditalok!</h1>
        <p>Lehet hogy egyszer majd úgy gondolunk az elmúlt évre: 2017 volt az év! Óh, és micsoda év?! Mikoron rájöttek a Diageo
          tulajdonában lévő, hatalmas cégóriásnál, hogy „Oké! Elég volt nekünk ennyi idő biztonságban! Most kísérletezzünk!”,
          és nekiálltak őrült tudós módjára, összeöntögetni, megpörkölgetni, kísérletezni!</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Előző</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Következő</span>
  </a>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Legújabb termékeink</h1>
    <p class="lead">Mi, akik munkánk során naponta találkozunk a világ legkülönbözőbb pontjairól származó italfajtákkal és ezek gyártóival,
      számtalan érdekesnél érdekesebb, sokszor meglepő, néha kalandos, máskor kifejezetten lenyűgöző történetet ismertünk
      meg. Az italfajták születése, a létrejöttüket segítő történelmi események, a kitartó kalandorok, a bátor felfedezők,
      és néha bizony a szerencsés véletlenek, mind-mind szinte mesébe illően érdekes történeteket ihlettek.</p>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{lastTenProducts[0].productImg}}" alt={{lastTenProducts[0].productName}}>
        <div class="card-body">
          <h5 class="card-title">1. {{lastTenProducts[0].productName}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center">{{lastTenProducts[0].productPrice}} Ft</li>
          <li class="list-group-item">{{lastTenProducts[0].productManufacturer}}</li>
        </ul>
        <div class="card-body">
          <a routerLink="../public-products/product" class="card-link" (click)="goToProduct(lastTenProducts[0])">More...</a>
          <a routerLink="/" (click)="addToBasket(lastTenProducts[0])" class="card-link">
            <i class="fas fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{lastTenProducts[1].productImg}}" alt="{{lastTenProducts[1].productName}}">
        <div class="card-body">
          <h5 class="card-title">2. {{lastTenProducts[1].productName}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{lastTenProducts[1].productPrice}} Ft</li>
          <li class="list-group-item">{{lastTenProducts[1].productManufacturer}}</li>
        </ul>
        <div class="card-body">
          <a routerLink="../public-products/product" class="card-link" (click)="goToProduct(lastTenProducts[1])">More...</a>
          <a routerLink="/" (click)="addToBasket(lastTenProducts[1])" class="card-link">
            <i class="fas fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{lastTenProducts[2].productImg}}" alt="{{lastTenProducts[2].productName}}">
        <div class="card-body">
          <h5 class="card-title">3. {{lastTenProducts[2].productName}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{lastTenProducts[2].productPrice}} Ft</li>
          <li class="list-group-item">{{lastTenProducts[2].productManufacturer}}</li>
        </ul>
        <div class="card-body">
          <a routerLink="../public-products/product" class="card-link" (click)="goToProduct(lastTenProducts[2])">More...</a>
          <a routerLink="/" (click)="addToBasket(lastTenProducts[2])" class="card-link">
            <i class="fas fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{lastTenProducts[3].productImg}}" alt="{{lastTenProducts[3].productName}}">
        <div class="card-body">
          <h5 class="card-title">4. {{lastTenProducts[3].productName}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{lastTenProducts[3].productPrice}} Ft</li>
          <li class="list-group-item">{{lastTenProducts[3].productManufacturer}}</li>
        </ul>
        <div class="card-body">
          <a routerLink="../public-products/product" class="card-link" (click)="goToProduct(lastTenProducts[3])">More...</a>
          <a routerLink="/" (click)="addToBasket(lastTenProducts[3])" class="card-link">
            <i class="fas fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{lastTenProducts[4].productImg}}" alt="{{lastTenProducts[4].productName}}">
        <div class="card-body">
          <h5 class="card-title">5. {{lastTenProducts[4].productName}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{lastTenProducts[4].productPrice}} Ft</li>
          <li class="list-group-item">{{lastTenProducts[4].productManufacturer}}</li>
        </ul>
        <div class="card-body">
          <a routerLink="../public-products/product" class="card-link" (click)="goToProduct(lastTenProducts[4])">More...</a>
          <a routerLink="/" (click)="addToBasket(lastTenProducts[4])" class="card-link">
            <i class="fas fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{lastTenProducts[5].productImg}}" alt="{{lastTenProducts[5].productName}}">
        <div class="card-body">
          <h5 class="card-title">6. {{lastTenProducts[5].productName}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{lastTenProducts[5].productPrice}} Ft</li>
          <li class="list-group-item">{{lastTenProducts[5].productManufacturer}}</li>
        </ul>
        <div class="card-body">
          <a routerLink="../public-products/product" class="card-link" (click)="goToProduct(lastTenProducts[5])">More...</a>
          <a routerLink="/" (click)="addToBasket(lastTenProducts[5])" class="card-link">
            <i class="fas fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{lastTenProducts[6].productImg}}" alt="{{lastTenProducts[6].productName}}">
        <div class="card-body">
          <h5 class="card-title">7. {{lastTenProducts[6].productName}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{lastTenProducts[6].productPrice}} Ft</li>
          <li class="list-group-item">{{lastTenProducts[6].productManufacturer}}</li>
        </ul>
        <div class="card-body">
          <a routerLink="../public-products/product" class="card-link" (click)="goToProduct(lastTenProducts[6])">More...</a>
          <a routerLink="/" (click)="addToBasket(lastTenProducts[6])" class="card-link">
            <i class="fas fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{lastTenProducts[7].productImg}}" alt="{{lastTenProducts[7].productName}}">
        <div class="card-body">
          <h5 class="card-title">8. {{lastTenProducts[7].productName}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{lastTenProducts[7].productPrice}} Ft</li>
          <li class="list-group-item">{{lastTenProducts[7].productManufacturer}}</li>
        </ul>
        <div class="card-body">
          <a routerLink="../public-products/product" class="card-link" (click)="goToProduct(lastTenProducts[7])">More...</a>
          <a routerLink="/" (click)="addToBasket(lastTenProducts[7])" class="card-link">
            <i class="fas fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{lastTenProducts[8].productImg}}" alt="{{lastTenProducts[8].productName}}">
        <div class="card-body">
          <h5 class="card-title">9. {{lastTenProducts[8].productName}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{lastTenProducts[8].productPrice}} Ft</li>
          <li class="list-group-item">{{lastTenProducts[8].productManufacturer}}</li>
        </ul>
        <div class="card-body">
          <a routerLink="../public-products/product" class="card-link" (click)="goToProduct(lastTenProducts[8])">More...</a>
          <a routerLink="/" (click)="addToBasket(lastTenProducts[8])" class="card-link">
            <i class="fas fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{lastTenProducts[9].productImg}}" alt="{{lastTenProducts[9].productName}}">
        <div class="card-body">
          <h5 class="card-title">10. {{lastTenProducts[9].productName}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{lastTenProducts[9].productPrice}} Ft</li>
          <li class="list-group-item">{{lastTenProducts[9].productManufacturer}}</li>
        </ul>
        <div class="card-body">
          <a routerLink="../public-products/product" class="card-link" (click)="goToProduct(lastTenProducts[9])">More...</a>
          <a routerLink="/" (click)="addToBasket(lastTenProducts[9])" class="card-link">
            <i class="fas fa-cart-plus"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-4">
    </div>
  </div>
</div>