<section class="section-contact">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Contact page</h1>
        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2697.461319563887!2d19.05084911563543!3d47.46143907917532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dda0ed085467%3A0x154af5ad466feb10!2sBudapest%2C+Budafoki+%C3%BAt+56%2C+1117!5e0!3m2!1shu!2shu!4v1526647861692"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-contactform">
  <div class="container">
    <div class="row">
      <div class="form col-12">
        <form action="">
         
            <div class="input-group mb-3 inputs">
              <div class="input-group-prepend" for="contactname">
                <span id="basic-addon1" class="fas fa-user input-group-text"></span>
                <input type="text" class="form-control" id="contactname" placeholder="Név">
              </div>
              <div class="input-group-prepend" for="subject">
                <span id="basic-addon2" class="input-group-text">...</span>
                <input type="text" class="form-control" id="subject" placeholder="Tárgy">
              </div>
              <div class="input-group-prepend" for="contactemail">
                <span id="basic-addon3" class="input-group-text">@</span>
                <input type="email" class="form-control" id="contactemail" placeholder="E-mail">
              </div>
            </div>
          <br>
          <div class="input-group mb-3">
            <div class="input-group-prepend" for="massage">
              <span id="basic-addon4" class="input-group-text far fa-comment-alt"></span>
            </div>
            <textarea name="massage" class="form-control" id="massage" cols="30" rows="5" placeholder="Üzenet szövege"></textarea>
            <br>
          </div>
          <div class="input-group mb-3">
            <button type="button" class="btn btn-lg btn-primary" type="submit" value="Küldés">Küldés</button>
            <br>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
