<section class="section-contact">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ title }}</h1>
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</section>
<section class="section-contactform">
  <div class="container">
    <div class="row" ng-repeat="input in inputs | filter:inputNumber">
      <div class="form col-12">
        <h3>Írjon nekünk</h3>
        <form id="contact-form" contact-form="ngForm">
          <div class="input-group mb-3 inputs">
            <div class="input-group-prepend" for="contactname">
              <span id="basic-addon1" class="fas fa-user input-group-text"></span>
              <input type="text" class="form-control" id="contactname" placeholder="Név">
            </div>
            <div class="input-group-prepend" for="subject">
              <span id="basic-addon2" class="input-group-text">...</span>
              <input type="text" class="form-control" id="subject" placeholder="Tárgy">
            </div>
            <div class="input-group-prepend" for="contactemail">
              <span id="basic-addon3" class="input-group-text">@</span>
              <input type="email" class="form-control" name="contactemail" placeholder="E-mail" [(ngModel)]="msg.email" required #contactemail="ngModel">
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend" for="massage">
              <span id="basic-addon4" class="input-group-text far fa-comment-alt"></span>
            </div>
            <textarea name="message" class="form-control" cols="30" rows="5" placeholder="Üzenet szövege"[(ngModel)]="msg.message" required #message="ngModel"></textarea>
            <br>
          </div>
          <div class="input-group mb-3">
            <button type="button" class="btn btn-lg btn-block btn-primary" type="submit" value="Küldés" (click)="sendMsg()">Küldés</button>
            <br>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="section-last">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Vagy keressen személyesen</h3>
        <div>
          <strong>Raktár:</strong>
          1117 Budapest, Budafoki út 56.</div>
        <div>
          <strong>Nyitvatartás:</strong>
          Hétfő-Péntek: 6:00 - 14:00</div>
        <div>
          <strong>Telefon:</strong>
              +36 30 5555555</div>
      </div>
    </div>
  </div>
</section>
