<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Rights</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
        <th scope="col">Controls</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of datas index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{x.username}}</td>
        <td>{{x.email}}</td>
        <td>{{x.rights}}</td>
        <td>{{x.createdAt | date:'fullDate'}}</td>
        <td>{{x.updatedAt | date:'fullDate'}}</td>
        <td class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary">Update</button>
          <button type="button" class="btn btn-secondary" (click)="removeUser(x._id, x.username)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
