<div class="container">
  <h1>Termékek</h1>
  <div class="row">
    <table class="table table-light table-hover">
      <thead>
        <tr>
          <th class="sort-th">ID</th>
          <th class="sort-th">productName</th>
          <th class="sort-th">productPrice</th>
          <th class="sort-th">productManufacturer</th>
          <th class="sort-th">productUrl</th>
          <th class="sort-th">createdAt</th>
          <th class="sort-th">updatedAt</th>
          <th class="sort-th">productImg</th>
          <th>
            <button id="listAll" (click)="list()" class="btn btn-success">Összes listázása</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="text" name="id" disabled class="form-control" />
          </td>
          <td>
            <input type="text" name="productName" [(ngModel)]="productPost.productName" class="form-control" />
          </td>
          <td>
            <input type="text" name="productPrice" [(ngModel)]="productPost.productPrice" class="form-control" />
          </td>
          <td>
            <input type="text" name="productManufacturer" [(ngModel)]="productPost.productManufacturer" class="form-control" />
          </td>
          <td>
            <input type="text" name="productUrl" [(ngModel)]="productPost.productUrl" class="form-control" />
          </td>
          <td>
            <input type="text" name="createdAt" disabled class="form-control" />
          </td>
          <td>
            <input type="text" name="updatedAt" disabled class="form-control" />
          </td>
          <td>
            <input type="file" name="productImg" (change)="onFileSelected($event)" class="form-control-file" />
          </td>
          <td>
            <button type="button" (click)="post()" class="btn btn-success">Küldés</button>
          </td>
        </tr>
        <tr *ngFor="let product of products">
          <td>{{ product._id }}</td>
          <td>{{ product.productName }}</td>
          <td>{{ product.productPrice }}</td>
          <td>{{ product.productManufacturer }}</td>
          <td>{{ product.productUrl }}</td>
          <td>{{ product.createdAt }}</td>
          <td>{{ product.updatedAt }}</td>
          <td>
            <img src="{{ product.productImg }}" alt="{{ product.productName }}" height="100" />
          </td>
          <td>
            <button type="button" data-toggle="modal" data-target="#singleModal" (click)="single(product)" class="btn btn-primary">Megtekintés</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div id="singleModal" tabindex="-1" role="dialog" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="loginTitle" class="modal-title">Szerkesztő</h5>
        <button id="closeEditorModal" type="button" data-dismiss="modal" class="close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="prodId">ID</label>
            <input id="prodId" type="text" name='prodId' [(ngModel)]="product[0]._id" disabled class="form-control" />
          </div>
          <div class="form-group">
            <label for="prodName">Termék</label>
            <input id="prodName" type="text" name='prodName' [(ngModel)]="product[0].productName" class="form-control" />
          </div>
          <div class="form-group">
            <label for="prodPrice">Ár</label>
            <input id="prodPrice" type="text" name='prodPrice' [(ngModel)]="product[0].productPrice" class="form-control" />
          </div>
          <div class="form-group">
            <label for="prodManufacturer">Gyártó</label>
            <input id="prodManufacturer" name='prodManufacturer' type="text" [(ngModel)]="product[0].productManufacturer" class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="prodUrl">Keresőszavak</label>
            <input id="prodUrl" type="text" name='prodUrl' [(ngModel)]="product[0].productUrl" class="form-control" />
          </div>
          <div class="form-group">
            <label for="prodCreatedAt">Feltöltve</label>
            <input id="prodCreatedAt" type="text" name='prodCreatedAt' [(ngModel)]="product[0].createdAt" disabled class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="prodUpdatedAt">Frissítve</label>
            <input id="prodUpdatedAt" type="text" name='prodUpdatedAt' [(ngModel)]="product[0].updatedAt" disabled class="form-control"
            />
          </div>
          <img src="{{ product[0].productImg }}" alt="{{ product[0].productName }}" height="100" />
          <div class="form-group">
            <label for="prodSingleFile">Képfeltöltés</label>
            <input type="file" name="productImg" (change)="onFileSelected($event)" class="form-control-file" />
          </div>
        </form>
        <div role="alert" *ngIf="deleted" class="alert alert-info">Eszköz törölve!</div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-secondary">Bezár</button>
        <button type="button" (click)="put()" class="btn btn-success">Mentés</button>
        <button mwlConfirmationPopover="mwlConfirmationPopover" [popoverTitle]="'Törlés megerősítése'" [popoverMessage]="'Biztosan törli az eszközt?'"
          placement="top" [confirmText]="'Törlés'" [cancelText]="'Mégsem'" (confirm)="delete()" (cancel)="cancelClicked = true"
          [(isOpen)]="isOpen" class="btn btn-danger">Törlés</button>
      </div>