<div class="container">
  <br>
  <div class="row">
    <div class="col-3">
      <h6>Registered users: </h6>
      <h1>{{numberOfUsers}}</h1>
    </div>
    <div class="col-3">
      <h6>All income this month: </h6>
      <h4>{{allIncome | currency:'HUF'}}</h4>
    </div>
    <div class="col-3">
      <h6>Number of products: </h6>
      <h1>{{numberOfProducts}}</h1>
    </div>
    <div class="col-3">
      <h6>Number of customers: </h6>
      <h1>{{datas6.length}}</h1>
    </div>

  </div>


  <google-chart [data]="pieChartData"></google-chart>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      <button class="btn btn-outline-light btn-block" (click)=refresh()>Refresh</button>
    </div>
    <div class="col-4"></div>
  </div>
</div>
