<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
        <th scope="col">Total</th>
        <th scope="col">Controls</th>
        <th scope="col">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#placeOrderModal">New Order</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of Orders index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{order.user.username}}</td>
        <td>{{order.createdAt | date:'fullDate'}}</td>
        <td>{{order.updatedAt | date:'fullDate'}}</td>
        <td>{{order | total}}</td>
        <td colspan="2" class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#updateModal" (click)="selectOrderToUpdate(order)">Order Details</button>
          <button type="button" class="btn btn-danger" (click)="deleteOrder(order)">Delete Order</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- PlaceOrderModal -->
<div class="modal fade" id="placeOrderModal" tabindex="-1" role="dialog" aria-labelledby="placeOrderModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="placeOrderModalTitle">Update User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-5">
            <label for="orderingUsername">Username</label>
          </div>
          <div class="col-7">
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="inputGroupPrepend" class="input-group-text">
                  <span class="fas fa-user" aria-hidden="true"></span>
                </span>
              </div>
              <select class="form-control" id="orderingUsername" name="orderingUsername" [(ngModel)]="newOrder.username">
                <option *ngFor="let user of Users" value="[[user._id]]">{{user.username}}</option>
              </select>
            </div>
          </div>
        </div>
        <label for="orderNewProduct">E-mail</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span id="inputGroupPrepend" class="input-group-text">
              <span class="fas fa-beer" aria-hidden="true"></span>
            </span>
          </div>
          <select class="form-control" id="orderNewProduct" name="orderNewProduct" [(ngModel)]="addNewProductToOrder.id">
            <option *ngFor="let product of Products" value="[[product._id]]">{{product.productName}}</option>
          </select>
        </div>

        <label for="updatedRights">Rights</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span id="inputGroupPrepend" class="input-group-text">
              <span class="fas fa-users-cog" aria-hidden="true"></span>
            </span>
          </div>
          <select class="form-control" name="updatedRights" id="updatedRights" (change)="selectChangeHandler($event)">
            <option id="admin" value="true" [selected]="orderToUpdate.rights === true">Admin</option>
            <option id="user" value="false" [selected]="orderToUpdate.rights === false">User</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" class="btn btn-outline-secondary" data-dismiss="modal" value="Cancel">
        <input type="button" class="btn btn-outline-success" value="Save" (click)="update()">
      </div>
    </div>
  </div>
</div>








<!-- UpdateModal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalTitle">Update User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="updatedUsername">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span id="inputGroupPrepend" class="input-group-text">
              <span class="fas fa-user" aria-hidden="true"></span>
            </span>
          </div>
          <input class="form-control" name="updatedUsername" type="text" id="updateUsername" [(ngModel)]="orderToUpdate.username" value="{{orderToUpdate.username}}">
        </div>
        <label for="updatedEmail">E-mail</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span id="inputGroupPrepend" class="input-group-text">
              <span aria-hidden="true">@</span>
            </span>
          </div>
          <input class="form-control" name="updatedEmail" type="text" id="updateEmail" [(ngModel)]="orderToUpdate.email" value="{{orderToUpdate.email}}">
        </div>

        <label for="updatedRights">Rights</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span id="inputGroupPrepend" class="input-group-text">
              <span class="fas fa-users-cog" aria-hidden="true"></span>
            </span>
          </div>
          <select class="form-control" name="updatedRights" id="updatedRights" (change)="selectChangeHandler($event)">
            <option id="admin" value="true" [selected]="orderToUpdate.rights === true">Admin</option>
            <option id="user" value="false" [selected]="orderToUpdate.rights === false">User</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" class="btn btn-outline-secondary" data-dismiss="modal" value="Cancel">
        <input type="button" class="btn btn-outline-success" value="Save" (click)="update()">
      </div>
    </div>
  </div>
</div>
