<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
        <th scope="col">Total</th>
        <th scope="col">Controls</th>
        <th scope="col">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#placeOrderModal">New Order</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of Orders index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{order.user.username}}</td>
        <td>{{order.createdAt | date:'fullDate'}}</td>
        <td>{{order.updatedAt | date:'fullDate'}}</td>
        <td>{{order | total}}</td>
        <td colspan="2" class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#updateModal3" (click)="selectOrderToUpdate(order)">Order Details</button>
          <button type="button" class="btn btn-danger" (click)="deleteOrder(order)">Delete Order</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- PlaceOrderModal -->
<div class="modal fade" id="placeOrderModal" tabindex="-1" role="dialog" aria-labelledby="placeOrderModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="placeOrderModalTitle">Place new order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-2">
            <label for="orderingUsername">Username</label>
          </div>
          <div class="col-10">
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="inputGroupPrepend" class="input-group-text">
                  <span class="fas fa-user" aria-hidden="true"></span>
                </span>
              </div>
              <select class="form-control" id="orderingUsername" name="orderingUsername" [(ngModel)]="newOrder.user" required>
                <option *ngFor="let user of Users" [ngValue]="user._id">{{user.username}}</option>
              </select>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-2">
            <label for="orderNewProduct">Beverage</label>
          </div>
          <div class="col-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="inputGroupPrepend" class="input-group-text">
                  <span class="fas fa-beer" aria-hidden="true"></span>
                </span>
              </div>
              <select class="form-control" id="orderNewProduct" name="orderNewProduct" [(ngModel)]="addNewProductToOrder" required>
                <option *ngFor="let product of Products" [ngValue]="product">{{product.productName+' '+product.productPrice+' HUF'}}</option>
              </select>
              <input type="number" class="form-control tableinput" name="newProductQuantity" id="newProductQuantity" [(ngModel)]="addNewProductToOrder.quantity"
                min="1" max="1000" value="1" required>
            </div>
          </div>
          <div class="col-2">
            <button class="btn btn-default" (click)="addProduct()">Add</button>
          </div>
        </div>
        <br>
        <div class="row">
          <table class="table">
            <thead>
              <th scope="col">Product name</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Subtotal</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let product of newOrderDisplay.products index as i">
                <td>
                  {{product.name}}
                </td>
                <td>
                  {{product.product.productPrice + ' HUF'}}
                </td>
                <td>
                  {{product.quantity}}
                </td>
                <td>
                  {{product.product.productPrice * product.quantity + ' HUF'}}
                </td>
                <td>
                  <button class="btn btn-danger" (click)="deleteProduct(i)">Remove</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <p>
          Total: {{newOrderDisplay.total}} HUF
        </p>
        <input type="button" class="btn btn-outline-secondary" data-dismiss="modal" value="Cancel">
        <input type="button" class="btn btn-outline-success" value="Place order" (click)="placeOrder()">
      </div>
    </div>
  </div>
</div>





<!-- Update Modal -->
<div class="modal fade" id="updateModal3" tabindex="-1" role="dialog" aria-labelledby="updateModalTitle3" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalTitle3">Order details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="orderId">Order ID</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span id="inputGroupPrepend" class="input-group-text">
              <span class="fas fa-key" aria-hidden="true"></span>
            </span>
          </div>
          <input class="form-control" name="orderId" disabled type="text" id="orderId" [(ngModel)]="orderToUpdateDisplay['_id']">
        </div>
        <label for="orderUser">Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span id="inputGroupPrepend" class="input-group-text">
              <span class="fas fa-user" aria-hidden="true"></span>
            </span>
          </div>
          <input class="form-control" name="orderUser" type="text" id="orderUser" [(ngModel)]="orderToUpdateDisplay.user.username">
        </div>
        <hr>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product name</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Subtotal</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of orderToUpdateDisplay.products index as i">
              <td>{{i+1}}</td>
              <td>{{product.product.productName}}</td>
              <td>{{product.product.productPrice}}</td>
              <td>
                <input class="form-control" name="productQty" type="number" id="productQty" [(ngModel)]="orderToUpdate.products[i].quantity"
                  required min="1" max="1000">
              </td>
              <td>{{product.quantity * product.product.productPrice}} HUF</td>
              <td class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-danger" (click)="removeProductFromOrder(i)">Remove</button>
              </td>
            </tr>
          </tbody>
        </table>
        <hr>
        <div class="row">
          <div class="col-12">
            <label for="updatedRights">Beverage</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span id="inputGroupPrepend" class="input-group-text">
                  <span class="fas fa-beer" aria-hidden="true"></span>
                </span>
              </div>
              <select class="form-control" id="orderUpdateNewProduct" name="orderUpdateNewProduct" [(ngModel)]="addNewProductToOrder" required>
                <option *ngFor="let product of Products" [ngValue]="product">{{product.productName+' '+product.productPrice+' HUF'}}</option>
              </select>
              <input type="number" placeholder="Quantity" [(ngModel)]="addNewProductToOrder.quantity" required>
            </div>
            <br>
            <input type="button" class="btn btn-block btn-outline-primary" value="Add to order" (click)="addProductToOrder()">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="button" class="btn btn-outline-secondary" data-dismiss="modal" value="Cancel">
        <input type="button" class="btn btn-block btn-outline-success" value="Save" (click)="updateOrder()">
      </div>
    </div>
  </div>
</div>
