<div class="container">
  <form class="form-horizontal" role="form" method="POST" action="/register">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>Regisztráció</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="name">Felhasználónév</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-user"></i>
            </div>
            <input type="text" name="name" class="form-control" id="username" placeholder="Felhasználónév" required autofocus [(ngModel)]="user.username">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback">
          <span class="text-danger align-middle">
            <!-- Put name validation error messages here -->
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="email">E-Mail cím</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-at"></i>
            </div>
            <input type="email" name="email" class="form-control" id="email" placeholder="you@example.com" required autofocus [(ngModel)]="user.email"
              #mail="ngModel" ngModel email="true">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback" *ngIf="mail.invalid && (mail.dirty || mail.touched) ">
          <span class="text-danger align-middle">
            <i class="fas fa-times"></i>
            Kérjük érvényes e-mail címet adjon meg!
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password">Jelszó</label>
      </div>
      <div class="col-md-6">
        <div class="form-group has-danger">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fa fa-key"></i>
            </div>
            <input type="password" name="password" class="form-control" minlength="8" id="passwordReg" placeholder="Jelszó" required
              [(ngModel)]="user.password" #password="ngModel">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">
          <span class="text-danger align-middle" *ngIf="password.errors.minlength">
            <i class="fas fa-times"></i>
            A jelszónak 8 vagy több karakterből kell állnia!
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 field-label-responsive">
        <label for="password2">Jelszó megerősítése</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon" style="width: 2.6rem">
              <i class="fas fa-reply"></i>
            </div>
            <input type="password" name="passwordConfirmation" class="form-control" id="passwordConfirm" placeholder="Password" required
              [(ngModel)]="passwordConf" #passwordCon="ngModel">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-control-feedback" *ngIf="(passwordCon.dirty || passwordCon.touched) && user.password !== passwordConf">
          <span class="text-danger align-middle">
            <i class="fas fa-times"></i>
            Jelszó mégegyszer!
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <label for="exampleFormControlSelect1">Jogosultságok:</label>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <select class="form-control" id="exampleFormControlSelect1" (change)="selectChangeHandler($event)">
            <option value="true">Admin</option>
            <option value="false">User</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6" *ngIf="user.password === passwordConf && password.valid">
        <hr>
        <button type="submit" class="btn btn-block btn-outline-success" (click)="validation()">
          <i class="fa fa-user-plus"></i> Regisztráció</button>
      </div>
    </div>
  </form>
</div>