/* You can add global styles to this file, and also import other style files */

/* static navbar hidden content fix */
body { padding-top: 60px; }

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}

@media (max-width: 415px) {
  body {
    overflow-x: hidden;
  }
  .card {
    width: 10rem;
  }
  img {
    display: none;
  }
}
